/*  */
.sous-menu1, .sous-menu2{
    background: black;
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;


}

menu{
    color: #fff;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em;
    width: 50%;
    margin: 0 auto;
}


.menu{
    width: 100%;
    margin: 0 auto;
    background: black;

}

li{
    list-style: none;
    padding-left: 1em;
}


.relative{
    position: relative;
}

.relative a{
    color: #fff;
    text-decoration: none;
}

.li{
    width: 8em;
    text-align: start;
    padding: 1.5em 1em;
}

menu .li:hover{
    display: block;

}

 menu > li:hover .sous-menu1, menu li:hover .sous-menu2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
}

