/*  */
.sous-menu1, .sous-menu2{
    background: black;
    display: none;
    position: absolute;
    top: 1em;
    left: 0;


}

menu{
    color: #fff;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}


.menu{
    width: 100%;
    margin: 0 auto;
    background: black;

}

li{
    list-style: none;
}

menu > li {

}

.relative{
    position: relative;
}

.relative a{
    color: #fff;
    text-decoration: none;
}

menu li:hover .sous-menu1, menu li:hover .sous-menu2{
    display: block;

}

